# compiled files
*.pyc
*.pyd
*.o
*.so
*.clb
*.def

# misc
*~

# de
*.DS_Store
*.directory

# virtualenv
bin
lib
include

# pip
pip-selfcheck.json

# setuptools
build
dist
*.egg-info
.Python
__pycache__

# nosetests
.coverage

# visualstudio
.vs
*.pyproj*
*.sln
Scripts
env

# development
tags
*.pth
*.mp4
*.mov
*.gif
*.jpg
*.png
gifs
motionblur
releases
test_videos
save.py

# packaging
build_deps.sh
check_dupes.py
*_files.txt
dupes.txt
package.sh
remove_dupes.py
uninstall_deps.sh
upload_package.sh

# releases
butterflow-*
butterflow-*.7z
butterflow-*.sha256sum

# windows
butterflow.lnk
init.bat
snippets
