# compiled files
*.pyc
*.pyd
*.o
*.so
*.clb
*.def

# misc
*~

# de
*.DS_Store
*.directory

# virtualenv
bin
lib
include

# pip
pip-selfcheck.json

# setuptools
build
dist
*.egg-info
.Python
__pycache__

# nosetests
.coverage

# visualstudio
.vs
*.pyproj*
*.sln
Scripts
env

# development
tags
*.pth
dev_settings.py
*.mp4
*.gif
test_videos
notes.txt
*.jpg
*.png
butterflow-*.sha256sum
butterflow-*.7z
butterflow-*
a.sh
# check_dupes_small_hash.py
# package.sh
# cxfreeze-include-files.txt

# win10
butterflow.lnk
init.bat
snippets
