# compiled files
*.pyc
*.pyd
*.o
*.so
*.clb
*.def

# misc
*~
*.DS_Store
*.directory

#virtualenv
bin
lib
include
Scripts
env

#pip
pip-selfcheck.json

#setuptools
build
dist
*.egg-info
.Python
__pycache__

#nosetests
.coverage

#visualstudio
.vs
*.pyproj*
*.sln

#development
tags
*.pth
dev_settings.py
out.mp4
v.mp4
x.mp4
z.mp4
todo
clear.sh
out*.mp4
