include README.md LICENSE
recursive-include tests *.py
recursive-exclude tests *.pyc
recursive-exclude vendor *
recursive-include vendor/opencv-ndarray-conversion *
include butterflow/avinfo.c
include butterflow/ocl.c
include butterflow/motion.cpp
