include README.md LICENSE
recursive-include tests *.py
recursive-exclude tests *.pyc
recursive-exclude depends *
recursive-include depends/opencv-ndarray-conversion *
include butterflow/avinfo.c
include butterflow/ocl.cpp
include butterflow/motion.cpp
