recursive-include butterflow *.c
recursive-include butterflow *.cpp
recursive-include butterflow *.h
recursive-exclude tests *
include README.md
include LICENSE
exclude *.clb
exclude *.mp4
exclude .gitignore
exclude .gitmodules
